body{
  color:white; 
  font-size:85%, 
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  margin-top: 5px;
  background-color: #252531;
}

a{
  font-weight: bold; 
  color: #9F0;
}

div.th_title_info{
  align:center;
 } 
div.th_info{
  margin: 5;
  align:center;
}
